<div class="card">
  <div class="title">{{ secret.name }}</div>
  <div class="icons">
    <div class="copy">
      <img
        class="icon"
        src="/assets/images/copy.svg"
        width="23px"
        height="23px"
        (click)="copySecret()"
      />
      <div class="tooltip" *ngIf="copied">Copied</div>
    </div>
    <img
      class="icon"
      src="/assets/images/delete.svg"
      width="25px"
      height="25px"
      (click)="removeCard()"
    />
  </div>
</div>
<app-remove-modal></app-remove-modal>
