<div class="modal-container" *ngIf="state.visible">
  <div class="modal-cont">
    <div class="text">
      Please type <b>{{ user.username }}/{{ state.secret.name }}</b> to remove secret
      key
    </div>
    <input type="text" [(ngModel)]="secretStr" (ngModelChange)="validate()" />
    <div class="container">
      <button class="remove-button" [disabled]="!enabled" (click)="remove()">Remove</button>
    </div>
    <img class="close-icon" src="assets/images/close.svg" (click)="state.hide()" />
  </div>
  <div class="modal-background"></div>
</div>
