<div class="modal-container" *ngIf="state.visible">
  <div class="modal-cont">
    <div class="title">New Secret</div>
    <div class="label row">
      <div>Name:</div>
      <div class="required">*</div>
    </div>
    <input
      type="text"
      placeholder="Type name for secret"
      [(ngModel)]="secret.name"
      (ngModelChange)="validate()"
    />
    <div class="label row">
      <div>Secret:</div>
      <div class="required">*</div>
    </div>
    <textarea
      class="textarea"
      placeholder="Type secret"
      [(ngModel)]="secret.secret"
      (ngModelChange)="validate()"
    ></textarea>

    <div class="container">
      <button
        class="apply-button"
        [disabled]="!enabled"
        (click)="createSecret()"
      >
        Create
      </button>
    </div>
    <img
      class="close-icon"
      src="assets/images/close.svg"
      (click)="state.close()"
    />
  </div>
  <div class="modal-background"></div>
</div>
