button {
  width: 100%;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.register {
  width: 300px;
  min-width: 200px;
  max-width: 580px;
  max-height: 444px;
}
