<div class="container">
  <form nz-form class="register" >
    <h2 nz-typography>Sign In</h2>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please type your login">
        <nz-input-group nzPrefixIcon="user">
          <input nz-input placeholder="Type your login" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please type your password">
        <nz-input-group nzPrefixIcon="lock">
          <input
            nz-input
            placeholder="Type your password"
            type="password"
            nzPrefixIcon="user"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary">Log in</button>

  </form>
</div>
