@import "~ng-zorro-antd/ng-zorro-antd.css";


html,
body {
  height: 100%;
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
}
